html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,font,img,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,var,b,u,i,center,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td { margin:0;padding:0;border:0;outline:0;font-size:100%;vertical-align:baseline;background:transparent;} ol,ul { list-style:none;} blockquote,q { quotes:none;} :focus { outline:0;} ins { text-decoration:none;} del { text-decoration:line-through;} table { border-collapse:collapse;border-spacing:0;} html { height:100%;width:100%;} 
body { height:100%;width:100%;}
#maincanvas {
	height: auto !important;
	min-height: 100%;
	width: 952px;
	margin-right: auto;
	margin-left: auto;
	
}
#header {
	float: left;
	height: 136px;
	width: 100%;
}
#leftmenu {
	height: 28px;
	width: 360px;
	float: left;
	margin-top: 34px;
	margin-bottom: 34px;
	padding-top: 40px;
	}
#leftmenu > a {
	text-decoration: none;
	color: #CCCCCA;
	font-family: Verdana, Geneva, sans-serif;
	font-size: 21px;
	margin-right: 23px;
	}
	#leftmenu > a:hover {
	color: #2E2E2E !important;	
}	
#logo {
	height: 68px;
	float: left;
	width: 167px;
	margin-top: 34px;
	margin-bottom: 34px;
	background-image: url(../images/logo.png);
	background-repeat: no-repeat;
	margin-left: 35px;
}
#maincontent {
	width: 100%;
	float: left;
	min-height: 1064px;
}
/**/
#mainform {
	height: 310px;
	width: 310px;
	float: left;
	border: 1px solid #cccccc;
	position: relative;
	z-index: 0;
}

#a {
	float: left;
	width: 262px;
	border: 1px solid #ececec;
	height: 36px;
	position: relative;
	z-index: 1;
	margin-left: 20px;
	margin-top: 100px;
}
#block-vidvig1 {
	height: 200px;
	width: 262px;
	display: none;
	float: left;
	border-bottom-width: 1px;
	border-bottom-style: solid;
	border-bottom-color: #ececec;
	border-left-width: 1px;
	border-right-style: solid;
	border-left-style: solid;
	border-right-color: #ececec;
	border-left-color: #ececec;
	border-right-width: 1px;
	background-color: #FFF;
	background-image: url(../images/innertriangle.png);
	background-repeat: no-repeat;
	background-position: right bottom;
	position: absolute;
	z-index: 3;
	top: 136px;
	margin-left: 20px;
}
#a > div.punkt {
	font-family: Verdana, Geneva, sans-serif;
	font-size: 19px;
	font-weight: bold;
	color: #ffcc99;
	text-align: center;
}
/*#addobrclicked > input.punktname {
	position: relative;
	z-index: 3;	
	}*/
.triangle {
	width: 100%;
	height: 4px;
	float: left;
	background-image: url(../images/downtriangl.png);
	background-repeat: no-repeat;
	background-position: 15px top;
	margin-bottom: 3px;
	position: relative;
	z-index: 1;
	margin-left: 20px;
}
#b {
	float: left;
	width: 262px;
	border: 1px solid #ececec;
	height: 36px;
	position: relative;
	z-index: 2;
	margin-left: 20px;
}
#b > div.punkt {
	font-family: Verdana, Geneva, sans-serif;
	font-size: 19px;
	font-weight: bold;
	text-align: center;
	color: #99ccff;
}
.punkt {
	height: 30px;
	width: 30px;
	border: 1px solid #ececec;
	float: left;
	margin-bottom: 2px;
	margin-left: 2px;
	margin-top: 2px;
}
.punktname {
	height: 30px;
	width: 180px;
	float: left;
	border-top-style: none;
	border-right-style: none;
	border-bottom-style: none;
	border-left-style: none;
	margin-left: 9px;
	margin-top: 2px;
	margin-bottom: 2px;
	font-family: Verdana, Geneva, sans-serif;
	font-size: 14px;
	color: #2F2F2F;
}
#date1 {
	float: right;
	height: 32px;
	width: 36px;
	padding-top: 4px;
	text-align: center;
	font-family: Verdana, Geneva, sans-serif;
	color: #666666;
	font-size: 12px;
	background-image: url(../images/innertriangle.png);
	background-repeat: no-repeat;
	background-position: right bottom;
	cursor: pointer;
}
#date1 > span {
	width: 100%;
	font-family: Verdana, Geneva, sans-serif;
	font-size: 14px;
	color: #666666;
	text-align: center;
	height: 16px;
	float: left;
	font-weight: bold;
}

#active_count {
	
}
#show {
	float: left;
	height: 74px;
	width: 100%;
	position: relative;
	z-index: 1;
	bottom: 0px;
	margin-top: 53px;
}
#showtext {
	font-family: Verdana, Geneva, sans-serif;
	font-size: 22px;
	color: #2E2E2E;
	padding-left: 27px;
	background-image: url(../images/round_arrow_black.png);
	background-repeat: no-repeat;
	background-position: right bottom;
	height: 36px;
	margin-top: 20px;
	width: 267px;
	float: left;
}

#showtext:hover {
	margin-top: 8px !important;
	height: 48px !important;
	margin-bottom: 8px !important;
	background-color: #0B8EC1 !important;
	padding-top: 12px !important;
	width: 284px !important;
	margin-left: -1px !important;
	position: relative !important;
	z-index: 2 !important;
	padding-left: 28px !important;
	background-image: url(../images/round_arrow.png) !important;
	background-position: 258px 12px !important;
	color: #FFF !important;
}
/**/
#findarrow {
	
}
/**/
#blockofreyses {
	width: 632px;
	margin-left: 8px;
	min-height: 312px;
	float: left;
}
#breandcrumbs {
	width: 100%;
	float: left;
	height: 20px;
	font-family: Verdana, Geneva, sans-serif;
	font-size: 12px;
	color: #BABABA;
}
#breandcrumbs > #breandcrumbs1 {
	color: #0099CC;
	margin-right: 6px;
}
#breandcrumbs2 {
	margin-left: 6px;	
}
#coloms-names {
	float: left;
	width: 100%;
	height: 20px;
	margin-bottom: 3px;
	background-color: #9f9f9f;
}
#reys {
	font-family: Verdana, Geneva, sans-serif;
	font-size: 13px;
	color: #FFFFFF;
	float: left;
	height: 18px;
	width: 199px;
	margin-left: 8px;
	margin-top: 2px;
}
#timestart {
	font-family: Verdana, Geneva, sans-serif;
	font-size: 13px;
	color: #FFFFFF;
	float: left;
	height: 18px;
	width: 91px;
	margin-top: 2px;
}
#timearrival {
	font-family: Verdana, Geneva, sans-serif;
	font-size: 13px;
	color: #FFFFFF;
	float: left;
	height: 18px;
	width: 74px;
	margin-top: 2px;
}
#price {
	font-family: Verdana, Geneva, sans-serif;
	font-size: 13px;
	color: #FFFFFF;
	float: left;
	height: 18px;
	width: 131px;
	margin-top: 2px;
	margin-left: 129px;
}
.reys {
	float: left;
	font-family: Verdana, Geneva, sans-serif;
	font-size: 14px;
	color: #616565;
	height: 63px;
	width: 195px;
	margin-left: 12px;
	padding-top: 13px;
}
.punktA {
	width: 100%;
	float: left;
	font-family: Verdana, Geneva, sans-serif;
	font-size: 16px;
	color: #97CEE5;
}
.punktB {
	float: left;
	width: 100%;
	font-family: Verdana, Geneva, sans-serif;
	font-size: 16px;
	color: #97CEE5;
}
.timestart {
	float: left;
	font-family: Verdana, Geneva, sans-serif;
	font-size: 16px;
	color: #545454;
	height: 63px;
	width: 72px;
	padding-top: 13px;
	margin-left: 19px;
}
.timearrival {
	float: left;
	font-family: Verdana, Geneva, sans-serif;
	font-size: 16px;
	color: #545454;
	height: 63px;
	width: 65px;
	padding-top: 13px;
	margin-left: 9px;
}
.price {
	float: left;
	font-family: Verdana, Geneva, sans-serif;
	font-size: 14px;
	color: #616565;
	height: 63px;
	width: 140px;
	border-left-width: 1px;
	border-left-style: dashed;
	border-left-color: #e0e0e0;
	padding-top: 13px;
	margin-left: 40px;
}
.price .adalt {
	width: 100%;
	float: left;
	text-align: center;
}
.pricetext {
	font-family: Verdana, Geneva, sans-serif;
	font-size: 14px;
	color: #97CEE5;
	margin-right: 12px;
}
.yang > .pricetext {
	margin-left: 20px;	
}
.adaltprice {
	font-family: Verdana, Geneva, sans-serif;
	font-size: 20px;
	color: #0B8DC0;
}
.price .yang {
	width: 100%;
	float: left;
}
.yangprice {
	font-family: Verdana, Geneva, sans-serif;
	font-size: 18px;
	color: #0B8DC0;
}
.reys-container {
	width: 100%;
	height: 78px;
	float: left;
	margin-bottom: 2px;
}
.reys-container:hover .reys-default {
	background-color: #6dbbda !important;	
}
.reys-default {
	float: left;
	border-top-width: 1px;
	border-bottom-width: 1px;
	border-left-width: 1px;
	border-top-style: solid;
	border-bottom-style: solid;
	border-left-style: solid;
	border-top-color: #f3f5f5;
	border-bottom-color: #f3f5f5;
	border-left-color: #f3f5f5;
	height: 76px;
	width: 553px;
	background-color: #f7fafa;
}
.buy-button {
	float: left;
	height: 27px;
	width: 78px;
	background-color: #0b8ec1;
	background-image: url(../images/round_arrow.png);
	background-repeat: no-repeat;
	background-position: center 11px;
	font-family: Verdana, Geneva, sans-serif;
	font-size: 18px;
	color: #FFF;
	text-align: center;
	padding-top: 51px;
}
#map {
	float: left;
	width: 632px;
	height: 312px;
	margin-left: 8px;
	background-image: url(../images/map.png);
	background-repeat: no-repeat;
}
#plitki {
	width: 100%;
	float: left;
	height: 152px;
	margin-top: 34px;
	margin-bottom: 34px;
	background-color: #F00;
}
#firstplitka {
	height: 100%;
	width: 312px;
	float: left;
	background-color: #F00;
}
/*#plitki > #firstplitka:first-child, #plitki > div.plitka:first-child {
	margin-left: 0px !important;	
}*/
.plitka {
	float: right;
	height: 100%;
	width: 152px;
	background-color: #000;
	border-left-width: 8px;
	border-left-style: solid;
	border-left-color: #FFF;
}
#novosti {
	width: 100%;
	float: left;
	height: 152px;
	margin-bottom: 30px;
}
#newsheader {
	float: left;
	width: 100%;
	height: 36px;
}
#newsrss {
	float: left;
	margin-left: 24px;
	height: 23px;
	width: 200px;
	padding-top: 13px;
	background-image: url(../images/rss.png);
	background-repeat: no-repeat;
	background-position: left bottom;
	}
#newsrss > span {
	font-family: Verdana, Geneva, sans-serif;
	font-size: 16px;
	color: #2F2F2F;
	margin-left: 35px;
}

#vsenews {
	float: right;
	margin-right: 13px;
	background-image: url(../images/arrowallnews.png);
	background-repeat: no-repeat;
	background-position: right bottom;
	height: 23px;
	width: 200px;
	padding-top: 13px;
	}
#vsenews > span	{
	font-family: Verdana, Geneva, sans-serif;
	font-size: 16px;
	color: #2D2D2D;
	float: right;
	padding-right: 35px;
}

.novost {
	height: 117px;
	width: 312px;
	float: left;
	margin-left: 8px;
}
#novosti > #newsheader + .novost {
	margin-left: 0px !important;
}
.newshead {
	margin-left: 24px;
	font-family: Verdana, Geneva, sans-serif;
	font-size: 14px;
	color: #999999;
	margin-top: 13px;
	margin-bottom: 7px;
	}
.date {
	margin-left: 24px;
	font-family: Verdana, Geneva, sans-serif;
	font-size: 12px;
	color: #2C2C2C;
	}
.textnews {
	margin-left: 24px;
	font-family: Verdana, Geneva, sans-serif;
	font-size: 12px;
	color: #999999;
	margin-bottom: 8px;
	text-align: justify;
	}
.readmore {
	font-family: Verdana, Geneva, sans-serif;
	font-size: 12px;
	color: #19BFE5;
	width: 117px;
	padding-left: 195px;
	text-decoration: none;
	}
#vidgets {
	float: left;
	width: 100%;
	height: 312px;
}
.vidget  {
	height: 100%;
	width: 312px;
	float: left;
	margin-left: 8px;
}
#vidget1 {
	background-image: url(../images/vk.png);
	background-repeat: no-repeat;
	background-position: left bottom;
	height: 100%;
	width: 312px;
	float: left;
	margin-left: 8px;	
}
#vidget2 {
	background-image: url(../images/fasebook.png);
	background-repeat: no-repeat;
	background-position: left bottom;
	height: 100%;
	width: 312px;
	float: left;
	margin-left: 8px;	
}
#vidget3 {
	background-image: url(../images/twitter.png);
	background-repeat: no-repeat;
	background-position: left bottom;
	height: 100%;
	width: 312px;
	float: left;
	margin-left: 8px;	
}
#vidgets #vidget1:first-child {
	margin-left: 0px !important;
}
#footer {
	float: left;
	width: 100%;
	height: 152px;
	background-color: #666666;
	margin-bottom: 20px;
}